header
{
	img.header-logo
	{
		width: 125px;
		height: auto;
		margin: 25px auto;

		@include breakpoint(md) {}
	}

	div.nav-wrapper
	{
		width: 100%;
		border-top: 1px solid $gray-line;
		border-bottom: 1px solid $gray-line;

		@include breakpoint(md) { 
	        position: relative;
	    }

		nav
		{
			li 
			{
				display: inline-block;
				float: left;
				font-family: 'Duplicate Slab';
				font-size: 21px;
				font-weight: 300;
				-webkit-font-smoothing: antialiased; 
    			-moz-osx-font-smoothing: grayscale;
    			margin-right: 48px;
    			padding: 7px 0 8px 0;

    			@include breakpoint(md) {
    				margin-right: 30px; 
    				font-size: 18px;
    				padding: 10px 0 10px 0;
			    }

    			&.is-active
    			{
    				border-bottom: 4px solid $pme-color;
    				padding: 7px 0 4px 0;
    			}

    			i 
    			{
    				font-size: 60%;
    			}
			}

			&.nav-left
			{
				float: left;

				&.nav-desktop
				{
					@include breakpoint(sm) {
	    				display: none;
				    }
				}

				&.nav-mobile
				{
					display: none;
					
					@include breakpoint(sm) {
						display: block;
						position: relative;
				    }

				    li 
				    {
				    	font-weight: 500 ;
				    }

				    ul 
				    {
				    	display: none;
				    	position: absolute;
				    	background: white;
				    	z-index: 10;
				    	border: 1px solid $gray-line;
				    	padding: 0 15px !important;
				    	bottom: 0;
				    	transform: translateY(102%);

				    	li 
					    {
					    	display: block;
					    	float: none;
					    	font-weight: 300 ;

					    	&:hover
					    	{
					    		border-bottom: 0;
					    		border-left: 0;
					    		color: $pme-color;
					    	}

					    	&.is-active
					    	{
					    		border-bottom: 0;
					    		border-left: 0;
					    		color: $pme-color;
					    	}
					    }
				    }
				}
			}

			&.nav-right
			{
				float: right;

				@include breakpoint(md) { 
			        transform: scale(0.8);
			        
				    right: 0;
				    top: -80px;
			    }

			    @include breakpoint(sm) {
					transform: scale(1);
					position: relative;
					top: 0;
			    }

				li 
				{
					margin-right: 35px;

					@include breakpoint(md) { 
				        color: $gray-text;
				        margin-right: 25px;
				    }

				    @include breakpoint(sm) {
						color: black;
				        //margin-right: 35px;
				    }

					&:first-child
					{
						display: none;
					}

					&:last-child
					{
						margin-right: 0;
						padding: 6px 0 0 0;
					}
				}
			}
		}
	}
}