article
{
	transition: all 0.2s;

	&:hover
	{
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
		transform: translateY(-3px);
		transition: all 0.2s;
	}
	
}

section.rubrique
{
	padding: 45px 0 45px 0;

	&:nth-child(even)
	{
		background: $odd-rubrique-bg
	}
	//background: red;
	div.rubrique-content
	{
		width: 100%;

		div.rubrique-content-lg
		{
			width: 100%;
		}
	}
}

//Style général des articles
article
{
	width: 100%;
	display: flex;
	border: 1px solid #EFEFEF;
	//box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);

	div.article-figure
	{
		width: 50%;
		float: left;

		figure {}
		figcaption { display: none; }
	}

	div.article-excerpt
	{
		width: 50%;
		float: left;
		background: #fff;
		padding: 20px 25px 15px 25px;
		position: relative;

		span.article-kicker
		{
			color: $pme-color;
			font-family: 'Duplicate Slab';
			font-weight: 500;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased; 
    		-moz-osx-font-smoothing: grayscale;

    		&:before
    		{
    			content: url('../img/tag-icon.svg');
    			margin-right: 7px;
    		}
		}

		h4.article-title
		{
			font-size: 34px;
			line-height: 43px;
		}

		span.article-signature
		{
			position: absolute;
			bottom: 20px;
			font-family: 'Duplicate Slab';
			font-weight: 300;
			color: $article-signature-color;
			-webkit-font-smoothing: antialiased; 
    		-moz-osx-font-smoothing: grayscale;
    		
		}
	}
}

//Petites modifications pour les articles SM
section.rubrique 
{
	div.rubrique-content-sm
	{
		article
		{
			display: block;
			
			div.article-figure
			{
				width: 100%;
				float: none;
			}

			div.article-excerpt
			{
				width: 100%;
				float: none;
				height: 165px;
				padding: 15px 20px 19px 20px;

				h4.article-title
				{
					font-size: 19px;
					line-height: 25px;
					margin-top: 7px;
				}

				span.article-signature
				{
					bottom: 15px;
				}
			}
		}
	}
}