

<!DOCTYPE HTML>

<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<a href="#">
							<img src="img/logo.svg" alt="logo PME magazine" class="header-logo">
						</a>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div class="nav-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<nav class="nav-left nav-mobile">
								<li class="nav-mobile-dropdown-toggler">Rubrique&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></li>
								<ul>
									<li class="is-active">Actualités</li> 
									<li>Entreprises</li>
									<li>Management</li>
									<li>Finances</li>
									<li>Loisirs</li>
								</ul>
							</nav>
							<nav class="nav-left nav-desktop">
								<li class="is-active"><a href="#">Actualités</a></li> 
								<li><a href="#">Entreprises</a></li>
								<li><a href="#">Management</a></li>
								<li><a href="#">Finances</a></li>
								<li><a href="#">Loisirs</a></li>
							</nav>
							<nav class="nav-right">
								<li>Services</li>
								<li><a href="#">Epaper</a></li>
								<li><a href="#"><button class="btn btn-default">Abonnement</button></a></li>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="dossier">
			<div class="jumbotron dossier-image">
				<div class="container">
					<div class="dossier-text is-not-centered">
						<span class="badge">DOSSIER</span>
						<h1>Entrepreneur à temps partiel</h1>
						<p class="lead">Créer sa société sans risquer la banqueroute, c’est possible: en consacrant une partie de son temps à son projet, tout en continuant à travailler comme salarié.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="lead lead-xs is-not-centered">Créer sa société sans risquer la banqueroute, c’est possible: en consacrant une partie de son temps à son projet, tout en continuant à travailler comme salarié.</p>
			</div>
		</section>

		<section class="rubrique actualites">
			<div class="container">
				<div class="row">
					<h3>Actualités</h3>
				</div>
			</div>
		</section>

		<section class="rubrique entreprises">
			<div class="container">
				<div class="row">
					<h3>Entreprises</h3>
				</div>
				<div class="row rubrique-content">
					<div class="col-md-12">
						<article class="article-lg">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>

					<!-- <div class="spacer"></div> -->
					
					<div class="col-md-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
					
				</div>
			</div>
		</section>

		<section class="rubrique management">
			<div class="container">
				<div class="row">
					<h3>Management</h3>
				</div>
			</div>
		</section>

		<section class="rubrique finances">
			<div class="container">
				<div class="row">
					<h3>Finances</h3>
				</div>
			</div>
		</section>

		<section class="rubrique loisirs">
			<div class="container">
				<div class="row">
					<h3>Loisirs</h3>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<a href="#">
							<img src="img/logo.svg" alt="logo PME magazine" class="footer-logo">
						</a>
						<nav class="footer-nav">
							<li><a href="#">Publicité</a></li> 
							<li><a href="#">Contact</a></li>
							<li><a href="#">Apps</a></li>
							<li><a href="#">Impressum</a></li>
							<li><a href="#">Protection des données</a></li>
						</nav>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/header.js"></script>
	</body>
	
</html>