

<!DOCTYPE HTML>

<html{% if app.3 %} class="fonts-loaded"{% endif %}>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
		@font-face {
			font-family: 'Duplicate Slab';
			src: url('./assets/fonts/DuplicateSlab-Light.eot');
			src: url('./assets/fonts/DuplicateSlab-Light.eot?#iefix') format('embedded-opentype'),
				url('./assets/fonts/DuplicateSlab-Light.woff') format('woff'),
				url('./assets/fonts/DuplicateSlab-Light.ttf') format('truetype');
			font-weight: 300;
			font-style: normal;
		}

		@font-face {
			font-family: 'Duplicate Slab';
			src: url('./assets/fonts/DuplicateSlab-RegularItalic.eot');
			src: url('./assets/fonts/DuplicateSlab-RegularItalic.eot?#iefix') format('embedded-opentype'),
				url('./assets/fonts/DuplicateSlab-RegularItalic.woff') format('woff'),
				url('./assets/fonts/DuplicateSlab-RegularItalic.ttf') format('truetype');
			font-weight: 400;
			font-style: italic;
		}

		@font-face {
			font-family: 'Duplicate Slab';
			src: url('./assets/fonts/DuplicateSlab-Medium.eot');
			src: url('./assets/fonts/DuplicateSlab-Medium.eot?#iefix') format('embedded-opentype'),
				url('./assets/fonts/DuplicateSlab-Medium.woff') format('woff'),
				url('./assets/fonts/DuplicateSlab-Medium.ttf') format('truetype');
			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: 'Duplicate Slab';
			src: url('./assets/fonts/DuplicateSlab-Black.eot');
			src: url('./assets/fonts/DuplicateSlab-Black.eot?#iefix') format('embedded-opentype'),
				url('./assets/fonts/DuplicateSlab-Black.woff') format('woff'),
				url('./assets/fonts/DuplicateSlab-Black.ttf') format('truetype');
			font-weight: 900;
			font-style: normal;
		}

		@font-face {
			font-family: 'Austin News Text Roman';
			src: url('./assets/fonts/AustinNewsText-Roman.eot');
			src: url('./assets/fonts/AustinNewsText-Roman.eot?#iefix') format('embedded-opentype'),
				url('./assets/fonts/AustinNewsText-Roman.woff') format('woff'),
				url('./assets/fonts/AustinNewsText-Roman.ttf') format('truetype');
			font-weight: 500;
			font-style: normal;
		}
		</style>
		<script>
		(function( w ){
		function hasClass(element, cls){return (' '+element.className+' ').indexOf(' '+cls +' ') > -1;}var html=document.documentElement;
		var fontsLoaded=sessionStorage.fonts || hasClass(html,'fonts-loaded');
		if(fontsLoaded){html.className += ' fonts-loaded'; return;} // stop here if fonts are loaded

		/* Font Face Observer v2.0.13 - © Bram Stein. License: BSD-3-Clause */(function(){'use strict';var f,g=[];function l(a){g.push(a);1==g.length&&f()}function m(){for(;g.length;)g[0](),g.shift()}f=function(){setTimeout(m)};function n(a){this.a=p;this.b=void 0;this.f=[];var b=this;try{a(function(a){q(b,a)},function(a){r(b,a)})}catch(c){r(b,c)}}var p=2;function t(a){return new n(function(b,c){c(a)})}function u(a){return new n(function(b){b(a)})}function q(a,b){if(a.a==p){if(b==a)throw new TypeError;var c=!1;try{var d=b&&b.then;if(null!=b&&"object"==typeof b&&"function"==typeof d){d.call(b,function(b){c||q(a,b);c=!0},function(b){c||r(a,b);c=!0});return}}catch(e){c||r(a,e);return}a.a=0;a.b=b;v(a)}}
		function r(a,b){if(a.a==p){if(b==a)throw new TypeError;a.a=1;a.b=b;v(a)}}function v(a){l(function(){if(a.a!=p)for(;a.f.length;){var b=a.f.shift(),c=b[0],d=b[1],e=b[2],b=b[3];try{0==a.a?"function"==typeof c?e(c.call(void 0,a.b)):e(a.b):1==a.a&&("function"==typeof d?e(d.call(void 0,a.b)):b(a.b))}catch(h){b(h)}}})}n.prototype.g=function(a){return this.c(void 0,a)};n.prototype.c=function(a,b){var c=this;return new n(function(d,e){c.f.push([a,b,d,e]);v(c)})};
		function w(a){return new n(function(b,c){function d(c){return function(d){h[c]=d;e+=1;e==a.length&&b(h)}}var e=0,h=[];0==a.length&&b(h);for(var k=0;k<a.length;k+=1)u(a[k]).c(d(k),c)})}function x(a){return new n(function(b,c){for(var d=0;d<a.length;d+=1)u(a[d]).c(b,c)})};window.Promise||(window.Promise=n,window.Promise.resolve=u,window.Promise.reject=t,window.Promise.race=x,window.Promise.all=w,window.Promise.prototype.then=n.prototype.c,window.Promise.prototype["catch"]=n.prototype.g);}());

		(function(){function l(a,b){document.addEventListener?a.addEventListener("scroll",b,!1):a.attachEvent("scroll",b)}function m(a){document.body?a():document.addEventListener?document.addEventListener("DOMContentLoaded",function c(){document.removeEventListener("DOMContentLoaded",c);a()}):document.attachEvent("onreadystatechange",function k(){if("interactive"==document.readyState||"complete"==document.readyState)document.detachEvent("onreadystatechange",k),a()})};function r(a){this.a=document.createElement("div");this.a.setAttribute("aria-hidden","true");this.a.appendChild(document.createTextNode(a));this.b=document.createElement("span");this.c=document.createElement("span");this.h=document.createElement("span");this.f=document.createElement("span");this.g=-1;this.b.style.cssText="max-width:none;display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";this.c.style.cssText="max-width:none;display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";
		this.f.style.cssText="max-width:none;display:inline-block;position:absolute;height:100%;width:100%;overflow:scroll;font-size:16px;";this.h.style.cssText="display:inline-block;width:200%;height:200%;font-size:16px;max-width:none;";this.b.appendChild(this.h);this.c.appendChild(this.f);this.a.appendChild(this.b);this.a.appendChild(this.c)}
		function t(a,b){a.a.style.cssText="max-width:none;min-width:20px;min-height:20px;display:inline-block;overflow:hidden;position:absolute;width:auto;margin:0;padding:0;top:-999px;white-space:nowrap;font-synthesis:none;font:"+b+";"}function y(a){var b=a.a.offsetWidth,c=b+100;a.f.style.width=c+"px";a.c.scrollLeft=c;a.b.scrollLeft=a.b.scrollWidth+100;return a.g!==b?(a.g=b,!0):!1}function z(a,b){function c(){var a=k;y(a)&&a.a.parentNode&&b(a.g)}var k=a;l(a.b,c);l(a.c,c);y(a)};function A(a,b){var c=b||{};this.family=a;this.style=c.style||"normal";this.weight=c.weight||"normal";this.stretch=c.stretch||"normal"}var B=null,C=null,E=null,F=null;function G(){if(null===C)if(J()&&/Apple/.test(window.navigator.vendor)){var a=/AppleWebKit\/([0-9]+)(?:\.([0-9]+))(?:\.([0-9]+))/.exec(window.navigator.userAgent);C=!!a&&603>parseInt(a[1],10)}else C=!1;return C}function J(){null===F&&(F=!!document.fonts);return F}
		function K(){if(null===E){var a=document.createElement("div");try{a.style.font="condensed 100px sans-serif"}catch(b){}E=""!==a.style.font}return E}function L(a,b){return[a.style,a.weight,K()?a.stretch:"","100px",b].join(" ")}
		A.prototype.load=function(a,b){var c=this,k=a||"BESbswy",q=0,D=b||3E3,H=(new Date).getTime();return new Promise(function(a,b){if(J()&&!G()){var M=new Promise(function(a,b){function e(){(new Date).getTime()-H>=D?b():document.fonts.load(L(c,'"'+c.family+'"'),k).then(function(c){1<=c.length?a():setTimeout(e,25)},function(){b()})}e()}),N=new Promise(function(a,c){q=setTimeout(c,D)});Promise.race([N,M]).then(function(){clearTimeout(q);a(c)},function(){b(c)})}else m(function(){function u(){var b;if(b=-1!=
		f&&-1!=g||-1!=f&&-1!=h||-1!=g&&-1!=h)(b=f!=g&&f!=h&&g!=h)||(null===B&&(b=/AppleWebKit\/([0-9]+)(?:\.([0-9]+))/.exec(window.navigator.userAgent),B=!!b&&(536>parseInt(b[1],10)||536===parseInt(b[1],10)&&11>=parseInt(b[2],10))),b=B&&(f==v&&g==v&&h==v||f==w&&g==w&&h==w||f==x&&g==x&&h==x)),b=!b;b&&(d.parentNode&&d.parentNode.removeChild(d),clearTimeout(q),a(c))}function I(){if((new Date).getTime()-H>=D)d.parentNode&&d.parentNode.removeChild(d),b(c);else{var a=document.hidden;if(!0===a||void 0===a)f=e.a.offsetWidth,
		g=n.a.offsetWidth,h=p.a.offsetWidth,u();q=setTimeout(I,50)}}var e=new r(k),n=new r(k),p=new r(k),f=-1,g=-1,h=-1,v=-1,w=-1,x=-1,d=document.createElement("div");d.dir="ltr";t(e,L(c,"sans-serif"));t(n,L(c,"serif"));t(p,L(c,"monospace"));d.appendChild(e.a);d.appendChild(n.a);d.appendChild(p.a);document.body.appendChild(d);v=e.a.offsetWidth;w=n.a.offsetWidth;x=p.a.offsetWidth;I();z(e,function(a){f=a;u()});t(e,L(c,'"'+c.family+'",sans-serif'));z(n,function(a){g=a;u()});t(n,L(c,'"'+c.family+'",serif'));
		z(p,function(a){h=a;u()});t(p,L(c,'"'+c.family+'",monospace'))})})};"object"===typeof module?module.exports=A:(window.FontFaceObserver=A,window.FontFaceObserver.prototype.load=A.prototype.load);}());


		var font1 = new w.FontFaceObserver( 'Duplicate Slab', {weight: 300, style: 'normal'});
		var font2 = new w.FontFaceObserver( 'Duplicate Slab', {weight: 400, style: 'italic'});
		var font3 = new w.FontFaceObserver( 'Duplicate Slab', {weight: 500, style: 'normal'});
		var font4 = new w.FontFaceObserver( 'Austin News Text Roman', {weight: 500, style: 'normal'});

		/* ... iterate for each font */

		// load all fonts and store a boolean in the sessionStorage and in a cookie
		w.Promise
		  .all([font1.load(null, 5000), font2.load(null, 5000), font3.load(null, 5000), font4.load(null, 5000),/*.. iterate for each font */])
		  .then(function() {
		    w.document.documentElement.className += ' fonts-loaded';
		    sessionStorage.fonts = true;
		    document.cookie = "pmefonts=true; path=/";
		  });
		}( this ));
		</script>
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<a href="#">
							<img src="img/logo.svg" alt="logo PME magazine" class="header-logo">
						</a>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div class="nav-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<nav class="nav-left nav-mobile">
								<li class="nav-mobile-dropdown-toggler">Rubrique&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></li>
								<ul>
									<li class="is-active">Actualités</li> 
									<li>Entreprises</li>
									<li>Management</li>
									<li>Finances</li>
									<li>Loisirs</li>
								</ul>
							</nav>
							<nav class="nav-left nav-desktop">
								<li class="is-active"><a href="#">Actualités</a></li> 
								<li><a href="#">Entreprises</a></li>
								<li><a href="#">Management</a></li>
								<li><a href="#">Finances</a></li>
								<li><a href="#">Loisirs</a></li>
							</nav>
							<nav class="nav-right">
								<li>Services</li>
								<li><a href="#">Epaper</a></li>
								<li><a href="#"><button class="btn btn-default">Abonnement</button></a></li>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="dossier is-not-centered">
			<div class="dossier-inner">
				<!-- <img src="img/dossier.png" alt=""> -->
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="img/1280x500.jpg 1x" media="all and (min-width: 991px)" type="image/jpeg">
					<source srcset="img/992x400.jpg 1x" media="all and (min-width: 767px)" type="image/jpeg">
					<source srcset="img/576x288.jpg 1x" media="(min-width: 0px)" type="image/jpeg">
					<!--[if IE 9]></video><![endif]-->
					<img class="picture" src="img/dossier.png" alt="">
				</picture>
				<div class="dossier-overlay"></div>
				<div class="container">
						<span class="badge">DOSSIER</span>
						<h1>Entrepreneur à temps partiel</h1>
						<p class="lead">Créer sa société sans risquer la banqueroute, c’est possible: en consacrant une partie de son temps à son projet, tout en continuant à travailler comme salarié.</p>
				</div>
			</div>
			<div class="container">
				<p class="lead lead-mobile">Créer sa société sans risquer la banqueroute, c’est possible: en consacrant une partie de son temps à son projet, tout en continuant à travailler comme salarié.</p>
			</div>
		</section>

		<section class="rubrique rubrique-actualites">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Actualités</h3>
					</div>
				</div>
				<div class="wall">
						<article class="brick-lg"> 
							<a>
								<figure class="article-figure">
									<img src="img/thumb1.jpg" alt="">
									<figcaption>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi execcepturi possimus molestias!
									</figcaption>
								</figure>
							</a>
							<a class="article-excerpt">
								<h5 class="article-title">
									La très genevoise Caran d’Ache bientôt vaudoise?
								</h5>
								<span class="article-lead">
									La société mythique hésite encore entre trois emplacements, dont l’un en terres vaudoises. Un dessein qui pourrait déplaire aux autorités du canton.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article class="brick-lg"> 
							<a>
								<figure class="article-figure">
									<img src="img/thumb1.jpg" alt="">
									<figcaption>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi execcepturi possimus molestias!
									</figcaption>
								</figure>
							</a>
							<a class="article-excerpt">
								<h5>
									«Bon pour la tête», busi-ness plan d’un journal associatif
								</h5>
								<span class="article-lead">
									Un média se lance sur les cendres de «L’Hebdo». 150’000 francs ont été récoltés, mais il faudrait des millions. Comment vont-ils faire ? Avec de la bonne volonté.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article class="brick-md">
							<a class="article-excerpt">
								<span class="brick-md-title">L'œil en coin</span>
								<h5>Cyberattaque: le «cloud» va-t-il nous tomber sur la tête?</h5>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article class="is-complete">
							<a class="article-excerpt">
								<h5>
									L'indépendance plutôt que l'argent
								</h5>
								<span class="article-lead">
									Les patrons suisses sont attirés par l'idée d'être leur propre chef plutôt que par l'argent. Cette motivation les place à l'inverse de leurs homologues dans le monde, révèle une étude d'HSBC Private Bank. Seuls 29% des 115 entrepreneurs suisses interrogés affirment s'être lancés pour améliorer leur situation financière personnelle contre 43% en moyenne. Les Suisses sont par contre 45% à évoquer leur volonté d'indépendance devant la formation personnelle à 30%.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article class="brick-sm brick-inside is-complete">
							<a class="article-excerpt">
								<span class="badge">INSIDE</span>
								<h5>
									Thomson Reuters vendrait son centre
								</h5>
								<span class="article-lead">
									Selon une source proche
									du dossier, le groupe
									Thomson Reuters serait en
									discussion depuis quelques
									semaines pour vendre une
									partie de son emblématique
									bâtiment à la Pallanterie, à
									Genève. Plus de 1000 m2
									seraient concernés. Le géant
									avait dejà dû se résoudre à
									annoncer des licenciements
									sur ce site en début d’année.
									Près de 50 postes vont
									passer à la trappe.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">
									Lire
								</span>
							</a>
						</article>
						<article class="brick-sm brick-inside is-complete">
							<a class="article-excerpt">
								<span class="badge">INSIDE</span>
								<h5>
									Le Biopôle accueille un groupe canadien
								</h5>
								<span class="article-lead">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sunt eaque, quam officia ipsam minus eveniet sequi, voluptatem facilis assumenda optio aspernatur. Qui dolorem, commodi, natus aspernatur dolorum ipsum vitae.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article>
							<a class="article-excerpt">
								<h5>
									Vignerons romands: le gel de trop et des aides qui ne viennent pas à temps
								</h5>
								<span class="article-lead">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore obcaecati fugit quisquam quia quis sunt nemo eum neque itaque a ipsam vel repudiandae eos recusandae nobis natus nihil, autem voluptatibus.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>
						<article>
							<a class="article-excerpt">
								<h5>
									Snapchat investit à Yverdon-les-Bains
								</h5>
								<span class="article-lead">
									Ca y est, c'est fait. Il lui demande si il l'aimait encore. Il la gifla.
								</span>
								<span class="article-signature">EB</span>
								<span class="article-readmore">Lire</span>
							</a>
						</article>




						
				</div>
			</div>
		</section>

		<section class="rubrique rubrique-entreprises">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Entreprises</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<article class="article-lg">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>

					<!-- <div class="spacer"></div> -->
					
					<div class="col-lg-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
					<div class="col-lg-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
					<div class="col-lg-4">
						<article class="article-sm">
							<div class="article-figure">
								<figure>
									<img src="img/thumb1.jpg" alt="">
								</figure>
								<figcaption>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim, facere quidem iste. Ex odit, et hic eius voluptas provident suscipit dolore at, iure, natus aliquam, sequi excepturi possimus molestias!
								</figcaption>
							</div>
							<div class="article-excerpt">
								<span class="article-kicker">Who's who</span>
								<h4 class="article-title">Jeunes patrons, ils sont à la relève des PME de La Côte</h4>
								<span class="article-signature">Céline Bilardo, Joëlle Cachin</span>
							</div>
						</article>
					</div>
				</div>
				<div class="row text-centered">
					<div class="col-md-12">
						<a href="#">
							<button class="btn btn-default">Plus</button>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="rubrique rubrique-media">
			<div class="container">
				<!-- <div class="row">
					<h3>Le rendez-vous vidéo</h3>
				</div> -->
				<div class="row rubrique-media-content">
					<div class="col-lg-8">
						<div class="video-wrapper embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V-cKhTWReqg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-lg-4">
						<h4>La petite banque qui cartonne</h4>
						<p class="lead media-lead">Entretien avec Cyril Favrel, membre de la direction de la Caisse d'Epargne de Nyon.</p>
						<a href="#">
							<button class="btn btn-default">Plus de vidéos</button>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="rubrique rubrique-management">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Management</h3>
					</div>
				</div>
			</div>
		</section>

		<section class="rubrique rubrique-finances">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Finances</h3>
					</div>
				</div>
			</div>
		</section>

		<section class="rubrique rubrique-loisirs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Loisirs</h3>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<a href="#">
							<img src="img/logo.svg" alt="logo PME magazine" class="footer-logo">
						</a>
						<nav class="footer-nav">
							<li><a href="#">Publicité</a></li> 
							<li><a href="#">Contact</a></li>
							<li><a href="#">Apps</a></li>
							<li><a href="#">Impressum</a></li>
							<li><a href="#">Protection des données</a></li>
						</nav>
					</div>
				</div>
			</div>
		</footer>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        
		<script src="assets/lib/picturefill/picturefill.js"></script>
		<script src="assets/lib/macy/dist/macy.js"></script>
		{# // <script src="assets/lib/masonry/dist/masonry.pkgd.min.js"></script> #}

		<script src="assets/js/main.js"></script>
        <script src="assets/js/header.js"></script>
        <script src="assets/js/actualites.js"></script>	

		
	</body>
	
</html>