section.rubrique-actualites article
{
	border: 1px solid $gray-line;
	//padding: 20px;
	//position: relative;
	line-height: 20px;
	transition: all 0.2s;

	&:hover
	{
		cursor: pointer;
	    transform: translateY(-3px);
		transition: all 0.2s;
	    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);

		h5
		{
			text-decoration: underline;
		}
	}

	.article-figure
	{
		margin: 0;

		figcaption { display: none; }
	}

	.article-excerpt
	{
		padding: 15px;
		display: block;

		span.article-lead
		{
			display: none;
			font-family: 'Duplicate Slab';
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: $gray-text;
			letter-spacing: 0;
			margin-top: 10px;
		}

		span.article-signature
		{

			display: none;
			position: initial;
			margin-top: 10px;
		}

		span.article-readmore
		{
			display: block;
			font-size: 16px;
			line-height: 20px;
			bottom: 15px;
			font-family: 'Duplicate Slab';
			font-weight: 400;
			color: $pme-color;
			-webkit-font-smoothing: antialiased; 
			-moz-osx-font-smoothing: grayscale;
			margin-top: 10px;
		}
		
	}

	&.is-complete
	{
		.article-excerpt span.article-lead { display: block; }
		.article-excerpt span.article-signature { display: block; }
		.article-excerpt span.article-readmore { display: none; }
	}

	
}

section.rubrique-actualites article.brick-lg
{
	//min-height: 430px;

	@include breakpoint(sm) {
		min-height: auto;
	}

	// h5
	// {
	// 	font-size: 21px ;
	// 	line-height: 25px;
	// 	font-weight: 500;
	// 	color: $title-color;
	// 	//margin-bottom: 30px;
	// }

	div.article-excerpt
	{
		span.article-lead
		{
			//margin-bottom: 30px;
			//display: block;
			@include breakpoint(sm) {
				margin-bottom: 0;
			}
		}
	}
}

section.rubrique-actualites article.brick-md
{
	border-top: 4px solid $pme-color;
	text-align: center;

	.brick-md-title
	{
		display: inline-block;
		margin-top: 8px;
    	margin-bottom: 15px;
		font-family: 'Duplicate Slab';
		font-weight: 900;
		font-size: 21px;
		color: $gray-text;
		//color: #767676;
		letter-spacing: 0;
		line-height: 22px;
		-webkit-font-smoothing: antialiased; 
    	-moz-osx-font-smoothing: grayscale;
	}

	h5
	{
		font-size: 21px ;
		line-height: 25px;
		font-weight: 500;
		color: $title-color;
		//margin-bottom: 30px;

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}

	span.article-signature //RESTE DANS  TYPO
	{
		//position: absolute !important;
		// left: 50%;
  //   	transform: translateX(-50%);
	}
}

section.rubrique-actualites article.brick-sm
{

}

section.rubrique-actualites article.brick-inside
{
	background: $odd-rubrique-bg;
	//padding-top: 30px;

	.article-excerpt
	{
		position: relative;
		padding-top: 30px;

		span.badge
		{
			position: absolute;
			top:0;
			left: 15px;
		}
	}

	
}






