.article-picture
{
	

	// @include breakpoint(md) {
	// 	margin-top:-40px;
	// }

	figure { margin: 0; }

	&.article-picture-landscape
	{
		margin-bottom: 40px;

		@include breakpoint(sm) {
			margin-bottom: 10px;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&.article-picture-portrait
	{
		margin-bottom: 10px;

		@include breakpoint(sm) {
			margin-left: -15px;
			margin-right: -15px;
		}

	}
}

.article-picture-caption
{
	font-family: 'Duplicate Slab';
	color: lighten($gray-text, 15%);
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;

	b 
	{
		color: lighten($gray-text, 5%);

	}

	hr 
	{
		/* Line 2: */
		border-top: 3px solid #912E3F;
		width: 75px;
		margin-left: 0;
		margin-bottom: 30px;
	}
	  		
}

aside{}

.article-infos 
{
	margin-bottom: 40px;

	.article-infos-source
	{
		font-family: 'Duplicate Slab';
		/* PME magazine de juil: */
		font-size: 17px;
		letter-spacing: 0;
		line-height: 20px;
		color: lighten($gray-text, 15%);
		font-weight: 300;
		margin-bottom: 15px;
		display: block;


		// -webkit-font-smoothing: antialiased; 
  //   	-moz-osx-font-smoothing: grayscale;
  		b 
  		{
  			color: lighten($gray-text, 5%);

  		}
	}

	.btn 
	{
		margin-bottom: 30px;

		@include breakpoint(sm) {
			margin-bottom: 20px;
		}
	}

	.sharebox
	{
		width: 100%;

		.sharebox-title
		{
			width: 100%;
			display: block;
			font-family: 'Duplicate Slab';
			color: #000;
			font-size: 17px;
			line-height: 20px;
			margin-bottom: 13px;
		}

		i 
		{
			color: $pme-color;
			font-size: 26px;
			margin-right: 10px;
			transition: all 0.2s ease-in-out;

			&:hover
			{
				color: lighten($pme-color, 8%);
				transition: all 0.2s ease-in-out;
			}
		}
	}
}

.article-infos-desktop
{
	@include breakpoint(sm) {
		display: none;
	}
}

.article-infos-mobile
{
	display: none;
	border-top: 1px solid $gray-line;
	border-bottom: 1px solid $gray-line;
	padding: 10px 0;

	@include breakpoint(sm) {
		display: block;
		margin-bottom: 20px;
	}
}

.article-content
{
	//background: yellow;
	padding-bottom: 50px;

	.article-title
	{
		max-width: 100%;
		text-shadow: none;
		font-size: 48px !important;
		color: #000 !important;
		letter-spacing: 0;
		line-height: 49px;
		margin-top: 0;
		margin-bottom: 15px;

		@include breakpoint(md) {
			font-size: 38px !important;
			line-height: 42px;
		}


	}

	.lead
	{
		color: #000;
		text-shadow: none;
		margin-bottom: 32px;
		display: block;

		@include breakpoint(sm) {
			margin-bottom: 20px;
		}
	}
}
