@charset "UTF-8"; 

//=====================================================================//
// BOXES SETTINGS
//=====================================================================//
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }  

//=====================================================================//
// COLORS
//=====================================================================//
$gray-line: #efefef; //borders
$gray-bg: #f2f2f2;
$pme-color: #912E3F; //red
$gray-text: #6e6e6e;
$odd-rubrique-bg: #f6f6f6;
$bg-mine-shaft: #323232; //dark gray

$article-signature-color: #B1B1B1; //light gray

$title-color: #333333;
$title-color-ondark: #cacaca;

$lead-color-ondark: #cacaca;

//=====================================================================//
// FONTS
//=====================================================================//

// headings
//@include font-face("ratio_light", "../fonts/ratio_light", $file-formats: eot woff ttf svg); 
//@include font-face("ratio_reg", "../fonts/ratio_reg", $file-formats: eot woff ttf svg); 
  //@include font-face("ratio_medium", "../fonts/ratio_medium", $file-formats: eot woff ttf svg); 
  //@include font-face("ratio_bold", "../fonts/ratio_bold", $file-formats: eot woff ttf svg); 

// paragraphs
  //@include font-face("rooney_light", "../fonts/rooney_light", $file-formats: eot woff ttf svg); 
//@include font-face("rooney_medium", "../fonts/rooney_medium", $file-formats: eot woff ttf svg); 
  //@include font-face("rooney_bold", "../fonts/rooney_bold", $file-formats: eot woff ttf svg); 

//=====================================================================//
// TRANSITIONS
//=====================================================================//
$transition-speed:0.3s;
$bezier:cubic-bezier(0.455, 0.03, 0.515, 0.955);

//=====================================================================//
// DISTANCES
//=====================================================================//
$columnW: 700px;

//=====================================================================//
// Z-INDEX
//=====================================================================//
$zHeader: 100;
$zOverlay: 200;
$zModal: 300;


//=====================================================================//
// MORE MIXINS
//=====================================================================//
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 540px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 768px) { @content; } 
  }
 
  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1213px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}



html { margin:0; padding: 0; }
body { margin: 0; padding: 0; height: 100%; }
img { display:block; width: 100%; }





hr 
{
    
}


