.lead
{
	font-family: 'Duplicate Slab'; 
	font-weight: 300;
	font-size: 21px;
	font-style: italic;
	color: #FFFFFF;
	letter-spacing: 1.5px;
	line-height: 25px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.30);
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;

	@include breakpoint(md) {
		font-size: 19px;
		line-height: 22px;
	}

	@include breakpoint(sm) {
		//font-size: 16px;
		display: none;
	}

	&.lead-mobile
	{
		display: none;
		text-shadow: none;
		color: $gray-text;
		margin-top: 10px;
		//text-align: center;

		@include breakpoint(sm) {
			display: block;
		}
	}
}

section.dossier
{
	.dossier-inner
	{
		display: block;
		position: relative;
		max-width: 1280px;
		margin: auto;
		

		// @include breakpoint(md) {
		// 	height: 400px;
		// }

		// @include breakpoint(sm) {
		// 	height: 200px;
		// }

		div.dossier-overlay
		{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: none;
			background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 36%, rgba(0,0,0,0.35) 100%);
		}
		
		div.container
		{
			position: absolute;
			top: 0;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			padding-right: 400px;
			
			@include breakpoint(md) {
				padding-right: 300px;
			}
			
			@include breakpoint(sm) {
				padding-right: 0;
				top: auto;
				left: 0;
				bottom: 10px;
				transform: (translateY(0));
			}
		}
	}

	&.is-centered
	{
		text-align: center;

		div.dossier-inner
		{
			div.dossier-overlay
			{
				display: block;
			}
			
			div.container
			{
				padding-right: 15px;
				transform: translate(-50%, 0);
				top: auto;
				bottom: 30px;

				@include breakpoint(md) {
					bottom: 20px;
				}

				@include breakpoint(md) {
					transform: translate(0, 0);
					bottom: 10px;
				}

				h1 
				{
					margin-left: auto;
					margin-right: auto;
				}

				.lead 
				{
					max-width: 645px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}