footer
{
	//background: $gray-bg;
	background: $pme-color;

	@include breakpoint(md) {  
        padding: 15px 0 30px 0;
    }

	img.footer-logo 
	{
		width: 125px;
		height: auto;
		float: left;

		@include breakpoint(md) {  
	        float: none;
	        width: 95px;
	        margin-left: -7px;
	    }
	}

	nav.footer-nav
	{
		margin-top: 8px;
		float: right;

		@include breakpoint(md) {  
	        margin-top: 0;
	        float: none;
	        width: 100%;
	        margin-top: 15px;
	    }

		li 
		{
			color: #fff;
			display: inline-block;
			float: left;
			font-family: 'Duplicate Slab';
			font-size: 21px;
			font-weight: 300;
			-webkit-font-smoothing: antialiased; 
			-moz-osx-font-smoothing: grayscale;
			margin-right: 48px;
			padding: 7px 0 8px 0;

			@include breakpoint(md) {  
		        margin-right: 25px;
		        margin-left: 0;
		        font-size: 21px;
		        overflow: auto;
		        padding: 0;
				font-size: 18px;
		    }
		}
	}
}